.idea/
.idea/*
/libs/_temp_/*
/upload/*
!/upload/.gitkeep
!/upload/images/.gitkeep
/theme/*
!/theme/.gitkeep
!/theme/angular.min.js.map

.htaccess
.DS_Store
google*.html
yandex*.html
/export_tmp/*
/export_tmp/.gitkeep
/export/*
/export/.gitkeep